.container {
	padding: 10px;
	margin-bottom: 10px;
	background-color: @Window;
}

.background-color1 {
	background-color: white;
}

.background-color2 {
	color: @white;
	background-color: rgb(117, 147, 44);
}

.background-color3 {
	background-color: rgba(230, 110, 24, 0.5);
}

.background-color4 {
	background-color: @Yellow;
}

.background-color5 {
	background-color: @Blue/0.2;
}

h3 {
	margin: 0px;
}

body {
	color: @ControlText;
}
