.border1 {
	border-radius: 30px;
}

.border2 {
	border-radius: 30px 10px;
}

.border3 {
	border-radius: 20px 30px 50px 70px;
}

div {
	margin-bottom: 10px;
	padding: 10px;
	color: @Question;
	background-color: @Window;
}

span {
	color: @Black;
}
