.border1 {
	border-bottom: solid 3px;
	border-bottom-color: @Question;
}

.border2 {
	border-bottom: solid 3px;
	border-bottom-color: @Warning;
}

.border3 {
	border-bottom: solid 3px;
	border-bottom-color: @Critical;
}

.border4 {
	border-bottom: solid 3px;
	border-bottom-color: rgba(48,144,72,0.5);
}

div {
	margin-bottom: 10px;
	padding: 10px;
	background-color: @Window;
}

span {
	color: @Black;
}
