.border1 {
	border-bottom-left-radius: 30px;
}

.border2 {
	border-bottom-left-radius: 100px 30px;
}

div {
	margin-bottom: 10px;
	padding: 10px;
	background-color: @Window;
}

span {
	color: @Black;
}
