.border1 {
	border-top-style: solid;
	border-top-width: thin;
}

.border2 {
	border-top-style: solid;
	border-top-width: medium;
}

.border3 {
	border-top-style: solid;
	border-top-width: thick;
}

.border4 {
	border-top-style: solid;
	border-top-width: 10px;
}

div {
	margin-bottom: 10px;
	padding: 10px;
	color: @Question;
	background-color: @Window;
}

span {
	color: @Black;
}