.border1 {
	border-bottom-style: solid;
}

.border2 {
	border-bottom-style: none;
}

div {
	margin-bottom: 10px;
	padding: 10px;
	color: @Question;
	background-color: @Window;
}

span {
	color: @Black;
}
