.border1 {
	border-top: solid;
}

.border2 {
	border-top: solid 1px;
}

.border3 {
	border-top: solid 1px @Critical;
}

div {
	margin-bottom: 10px;
	padding: 10px;
	color: @Question;
	background-color: @Window;
}

span {
	color: @Black;
}
