.shadow1 {
	box-shadow: 10px 5px 5px @Blue/0.2;
}

.shadow2 {
	box-shadow: 60px -16px @Blue/0.2;
}

.shadow3 {
	box-shadow: 12px 12px 2px 1px @Blue/0.2;
}

.shadow4 {
	box-shadow: inset 10px 10px 10px @Blue/0.2;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	padding: 10px;
	margin: 30px;
	background-color: @Window;
}
