.text1 {
	font-style: normal;
}

.text2 {
	font-style: italic;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	padding: 10px;
	margin-bottom: 10px;
	background-color: @Window;
}

.text-container {
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: @Control;
}
