.text1 {
	font-size: 10pt;
}

.text2 {
	font-size: 10px;
}

.text3 {
	font-size: 1.5em;
}

.text4 {
	font-size: xx-small;
}

.text5 {
	font-size: x-small;
}

.text6 {
	font-size: small;
}

.text7 {
	font-size: medium;
}

.text8 {
	font-size: large;
}

.text9 {
	font-size: x-large;
}

.text10 {
	font-size: xx-large;
}

.text11 {
	font-size: larger;
}

.text12 {
	font-size: smaller;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	padding: 10px;
	margin-bottom: 10px;
	background-color: @Window;
}

.text-container {
	font-size: 10pt;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: @Control;
}
