.justify-content1 {
	justify-content: start;
}

.justify-content2 {
	justify-content: center;
}

.justify-content3 {
	justify-content: space-between;
}

.justify-content4 {
	justify-content: space-around;
}

.justify-content5 {
	justify-content: space-evenly;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	padding: 10px;
	margin-bottom: 10px;
	background-color: @Window;
}

.element {
	margin-top: 5px;
	padding: 5px;
	background-color: @Control;
	display: flex;
}

.child-element {
	margin: 5px;
	padding: 5px;
	background-color: @Blue/0.2;
}
