.list1 {
	list-style-type: circle;
}

.list2 {
	list-style-type: square;
}

.list3 {
	list-style-type: disc;
}

.list4 {
	list-style-type: lower-alpha;
}

.list5 {
	list-style-type: upper-alpha;
}

.list6 {
	list-style-type: lower-roman;
}

.list7 {
	list-style-type: upper-roman;
}

.list8 {
	list-style-type: decimal;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	width: 215px;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: @Window;
	display: inline-block;
	text-align: center;
}

.example-container {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: @Control;
}

ol {
	padding-left: 5px;
	list-style-position: inside;
	display: inline-block;
}

li {
	margin-top: 5px;
	padding: 5px;
	background-color: @Window;
	border-radius: 5px;
}
