.margin1 {
	margin: 10px 10px 10px 10px;
}

.margin2 {
	margin: 5px 10px 15px 20px;
}

.margin3 {
	margin: 5px 10px 8px 2px;
}

.margin4 {
	margin: 0px;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	margin-bottom: 10px;
	background-color: @Blue/0.2;
}

.element {
	padding: 10px;
	background-color: @Window;
}