.margin1 {
	margin-left: 5px;
}

.margin2 {
	margin-left: 10px;
}

.margin3 {
	margin-left: 15px;
}

.margin4 {
	margin-left: 0px;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	margin-bottom: 10px;
	background-color: @Blue/0.2;
}

.element {
	padding: 10px;
	background-color: @Window;
}
