.item1 {
	max-height: 250px;
	height: 400px;
	background-color: @Critical;
}

.item2 {
	max-height: 150px;
	height: 300px;
	background-color: @Warning;
}

.item3 {
	max-height: 50px;
	height: 200px;
	background-color: @Question;
}

body {
	color: @White;
}

h3 {
	margin-top: 0px;
}

div {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
}
