.item1 {
	max-width: 500px;
	width: 600px;
	background-color: @Critical;
}

.item2 {
	max-width: 300px;
	width: 400px;
	background-color: @Warning;
}

.item3 {
	max-width: 200px;
	width: 300px;
	background-color: @Question;
}

body {
	color: @White;
}

div {
	padding: 10px;
	margin-bottom: 10px;
}

h3 {
	margin-top: 0px;
}
