.overflow1 {
	overflow: visible;
}

.overflow2 {
	overflow: hidden;
}

body {
	color: @ControlText;
}

.container {
	margin-bottom: 10px;
	background-color: @Window;
	padding: 10px;
	padding-top: 0px;
	width: 300px;
}

.item {
	padding: 10px;
	width: 400px;
	background-color: @Question;
}

.white-text {
	color: @White;
}
