.padding1 {
	padding-left: 5px;
}

.padding2 {
	padding-left: 10px;
}

.padding3 {
	padding-left: 15px;
}

.padding4 {
	padding-left: 0px;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	margin-bottom: 10px;
	background-color: @Blue/0.2;
	display: inline-block;
}
