.padding1 {
	padding-top: 5px;
}

.padding2 {
	padding-top: 10px;
}

.padding3 {
	padding-top: 15px;
}

.padding4 {
	padding-top: 0px;
}

body {
	color: @ControlText;
}

h3 {
	margin: 0px;
}

.container {
	margin-bottom: 10px;
	background-color: @Blue/0.2;
	display: inline-block;
}