.item1 {
	width: 500px;
	background-color: @Critical;
}

.item2 {
	width: 300px;
	background-color: @Warning;
}

.item3 {
	width: 100px;
	background-color: @Question;
}

body {
	color: @White;
}

h3 {
	margin: 0px;
}

div {
	padding: 10px;
	margin-bottom: 10px;
}
